<%= form_for([:admin, @page]) do |f| %>

  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this admin_page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :title_link %><br>
    <%= f.text_field :title_link, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :image %><br>
    <%= f.collection_select(:image_id, @all_images, :id, :title, { include_blank: true }, class: 'form-control') %>
  </div>

  <div class="form-group">
    <%= f.label :big_image %><br>
    <%= f.check_box :big_image, class: 'form-control' %>
  </div>

  <div class="form-group" role="polymorphic">
    <%= f.label :back_link %><br>

    <% ids = @all_back_links.group_by(&:class).map { |klass, back_links| [ klass.name.pluralize, back_links.map { |back_link| [ back_link.title, back_link.id ] } ] } %>
    <% types = @all_back_links.group_by(&:class).keys.map { |klass| [ klass.name.pluralize, klass.name ] } %>

    <%= f.select :back_link_id, ids, { include_blank: true }, class: 'form-control', role: 'polymorphic_id' %>
    <%= f.select :back_link_type, types, { include_blank: true }, class: 'hidden', role: 'polymorphic_type' %>
  </div>

  <div class="form-group">
    <%= f.label :body %><br>
    <%= f.text_area :body, role: 'wysiwyg', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit class: 'btn btn-primary' %>
  </div>

<% end %>
