<h1>Listing Pages</h1>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Slug</th>
      <th>Title</th>
      <th>Title link</th>
      <th>Big image</th>
      <th>Back link</th>
      <th>Image</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><%= page.id %></td>
        <td><%= page.slug %></td>
        <td><%= page.title %></td>
        <td><%= page.title_link %></td>
        <td><%= page.big_image %></td>
        <td><%= link_to page.back_link.title, [:admin, page.back_link] if page.back_link.present? %></td>
        <td><%= link_to page.image.title, [:admin, page.image] if page.image.present? %></td>
        <td><%= link_to 'Show', [:admin, page], class: 'btn btn-info' %></td>
        <td><%= link_to 'View in public', polymorphic_path(page.url, for_locale: nil, locale: params[:for_locale]), class: 'btn btn-info' %></td>
        <td><%= link_to 'Edit', [:edit, :admin, page], class: 'btn btn-warning' %></td>
        <td><%= link_to 'Destroy', [:admin, page], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Page', [:new, :admin, :page], class: 'btn btn-primary' %>
