<h1>Listing Page Groups</h1>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Slug</th>
      <th>Title</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @page_groups.each do |page_group| %>
      <tr>
        <td><%= page_group.id %></td>
        <td><%= page_group.slug %></td>
        <td><%= page_group.title %></td>
        <td><%= link_to 'Show', [:admin, page_group], class: 'btn btn-info' %></td>
        <td><%= link_to 'View in public', page_group_path(page_group, for_locale: nil, locale: params[:for_locale]), class: 'btn btn-info' %></td>
        <td><%= link_to 'Edit', [:edit, :admin, page_group], class: 'btn btn-warning' %></td>
        <td><%= link_to 'Destroy', [:admin, page_group], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Page Group', [:new, :admin, :page_group], class: 'btn btn-primary' %>
