<h1>Showing Page Group</h1>

<p>
    <strong>ID:</strong>
    <%= @page_group.slug.presence || @page_group.id %>
</p>

<p>
    <strong>Title:</strong>
    <%= @page_group.title %>
</p>

<p>
    <strong>Pages:</strong>
    <ul>
        <% @page_group.pages.each do |page| %>
            <li><%= page.title %></li>
        <% end %>
    </ul>
</p>

<%= link_to 'Edit', [:edit, :admin, @page_group], class: 'btn btn-warning' %>
<%= link_to 'View in public', page_group_path(@page_group, for_locale: nil, locale: params[:for_locale]), class: 'btn btn-info' %>
<%= link_to 'Back', [:admin, :page_groups], class: 'btn btn-default' %>
