<h1>Showing Page Group</h1>

<p>
    <strong>ID:</strong>
    <%= @page_group.id %>
</p>

<p>
    <strong>Slug:</strong>
    <%= @page_group.slug %>
</p>

<p>
    <strong>Title:</strong>
    <%= @page_group.title %>
</p>

<p>
    <strong>Pages:</strong>
    <ul>
        <% @page_group.pages.each do |page| %>
            <li><%= page.title %></li>
        <% end %>
    </ul>
</p>

<p>
    <strong>Back link for:</strong>
    <%= @page_group.back_linked_pages.map { |page| link_to page.title, [:admin, page] }.join(', ').html_safe %>
</p>

<%= link_to 'Edit', [:edit, :admin, @page_group], class: 'btn btn-warning' %>
<%= link_to 'View in public', polymorphic_path(@page_group.url, for_locale: nil, locale: params[:for_locale]), class: 'btn btn-info' %>
<%= link_to 'Back', [:admin, :page_groups], class: 'btn btn-default' %>
