<% slides_class = @page_group.pages.size == 3 ? 'three-slides' : 'four-slides' %>

<div class="body-container">
    <% @page_group.pages.each.with_index do |page, index| %>
        <div class="main-slide <%= slides_class %> <%= 'last' if index == @page_group.pages.size - 1 %>"
             style="background-image: url(<%= image_url(page.image.image_attachment) if page.image.present? %>); <%= (@page_group.pages.size == 3 ? page.image.position_for_small_style : page.image.position_for_very_small_style) if page.image.present? %>">
            <a href="<%= page_path(page) %>">
                <span class="table-cell"><%= page.title %></span>
            </a>
        </div>
    <% end %>
</div>
