<div class="body-container">
    <div class="main-slide three-slides"
         style="background-image: url(<%= image_url 'slide_01.jpg' %>); background-position: -400px;">
        <a href="<%= company_welcome_path %>">
            <span class="table-cell">Καλώς ήρθατε στην Algae farms</span>
        </a>
    </div>

    <div class="main-slide three-slides"
         style="background-image: url(<%= image_url 'slide_02.jpg' %>); background-position: -190px;">
        <a href="<%= company_vision_path %>">
            <span class="table-cell">Το όραμα μας</span>
        </a>
    </div>

    <div class="main-slide three-slides last"
         style="background-image: url(<%= image_url 'slide_03.jpg' %>); background-position: -180px;">
        <a href="<%= company_facilities_path %>">
            <span class="table-cell">Οι εγκαταστάσεις</span>
        </a>
    </div>
</div>
