<div class="body-container">
    <div class="main-slide horizontal-slide"
         style="background-image: url(<%= image_url 'company.png' %>);">
        <a href="<%= company_path %>">
            <span class="table-cell">Η εταιρεία</span>
        </a>
    </div>

    <div class="main-slide horizontal-slide"
         style="background-image: url(<%= image_url 'financial.png' %>);">
        <a href="<%= invest_path %>">
            <span class="table-cell">Ενημέρωση επενδυτών</span>
        </a>
    </div>

    <div class="main-slide horizontal-slide"
         style="background-image: url(<%= image_url 'products.png' %>);">
        <a href="<%= products_path %>">
            <span class="table-cell">Προϊόντα</span>
        </a>
    </div>
</div>
