<div class="body-container">
    <div class="main-slide horizontal-slide slide-hover-company"
         style="background-image: url(<%= image_url 'green_part1.jpg' %>);">
        <a href="<%= company_path %>">
            <span class="table-cell">Η εταιρεία</span>
        </a>
    </div>

    <div class="main-slide horizontal-slide slide-hover-financial"
         style="background-image: url(<%= image_url 'green_part2.jpg' %>);">
        <a href="<%= invest_path %>">
            <span class="table-cell">Ενημέρωση επενδυτών</span>
        </a>
    </div>

    <div class="main-slide horizontal-slide slide-hover-products"
         style="background-image: url(<%= image_url 'green_part3.jpg' %>);">
        <a href="<%= products_path %>">
            <span class="table-cell">Προϊόντα</span>
        </a>
    </div>
</div>
