<div class="body-container">
    <div class="main-slide"
         style="background-image: url(<%= image_url 'vials.jpg' %>); width: 66%; margin-right: 1%;">
        <a href="">
            <span class="table-cell">Ενημέρωση επενδυτών</span>
        </a>
    </div>

    <div class="content">
        <h1>Ενημέρωση επενδυτών</h1>

        <ul>
            <li><%= link_to 'Πληροφοριακό ένταξης', '/pdf/placeholder.pdf' %></li>
            <li><%= link_to 'Ενημέρωση επενδυτών', '/pdf/placeholder.pdf' %></li>
            <li><%= link_to 'Εξυπηρέτηση μετόχων', shareholders_path %></li>
            <li><%= link_to 'Εταιρική διακυβέρνηση', govern_path %></li>
        </ul>
    </div>
</div>
