<div class="body-container">
    <div class="main-slide"
         style="background-image: url(<%= image_url 'vials.jpg' %>); width: 66%; margin-right: 1%;">
        <a href="">
            <span class="table-cell">Χρήσιμοι σύνδεσμοι</span>
        </a>
    </div>

    <div class="content">
        <h1>Χρήσιμοι σύνδεσμοι</h1>

        <ul>
            <li><%= link_to 'European Pellet Council', 'http://www.pelletcouncil.eu/', target: '_blank' %></li>
            <li><%= link_to 'Όμιλος Ελληνικά Χρηματηστήρια', 'http://www.helex.gr', target: '_blank' %></li>
            <li><%= link_to 'European Biomass Association AEBIOM', 'http://www.aebiom.org/', target: '_blank' %></li>
            <li><%= link_to 'ENplus Certification', 'http://www.enplus-pellets.eu/', target: '_blank' %></li>
            <li><%= link_to 'International Sustainability & Carbon Certification ISCC', 'http://www.iscc-system.org/', target: '_blank' %></li>
            <li><%= link_to 'ISO - International Organization for Standardization', 'http://www.iso.org', target: '_blank' %></li>
            <li><%= link_to 'ISO 9000 Certification', 'http://www.iso.org/iso/iso_9000', target: '_blank' %></li>
            <li><%= link_to 'ISO 14000 Certification', 'http://www.iso.org/iso/iso14000', target: '_blank' %></li>
        </ul>
    </div>
</div>
