<div class="body-container">
    <div class="main-slide four-slides"
         style="background-image: url(<%= image_url 'pellets.jpg' %>); background-position: -270px;">
        <a href="<%= products_pellets_path %>">
            <span class="table-cell">Pellets άλγης</span>
        </a>
    </div>

    <div class="main-slide four-slides"
         style="background-image: url(<%= image_url 'oil.png' %>); background-position: -22px;">
        <a href="<%= products_oil_path %>">
            <span class="table-cell">Βιοέλαιο άλγης</span>
        </a>
    </div>

    <div class="main-slide four-slides"
         style="background-image: url(<%= image_url 'briquettes.jpg' %>); background-position: -260px;">
        <a href="<%= products_briquettes_path %>">
            <span class="table-cell">Briquettes άλγης</span>
        </a>
    </div>

    <div class="main-slide four-slides last"
         style="background-image: url(<%= image_url 'vials.png' %>); background-position: -400px;">
        <a href="<%= products_certifications_path %>">
            <span class="table-cell">Πιστοποιήσεις</span>
        </a>
    </div>
</div>
