<div class="body-container">
    <div class="main-slide"
         style="background-image: url(<%= image_url 'vials.jpg' %>); width: 66%; margin-right: 1%;">
        <a href="">
            <span class="table-cell">Sitemap</span>
        </a>
    </div>

    <div class="content">
        <h1>Sitemap</h1>

        <ul>
            <li><%= link_to 'Αρχική', index_path %></li>
            <li>
                <%= link_to 'Η εταιρεία', page_group_path('company') %>
                <ul>
                    <li><%= link_to 'Καλώς ήρθατε στην Algae Farms', page_path('welcome') %></li>
                    <li><%= link_to 'Το όραμα μας', page_path('vision') %></li>
                    <li><%= link_to 'Οι εγκαταστάσεις', page_path('facilities') %></li>
                </ul>
            </li>
            <li><%= link_to 'Πληροφοριακό ένταξης', '/pdf/placeholder.pdf' %></li>
            <li><%= link_to 'Ενημέρωση επενδυτών', page_path('invest') %>
                <ul>
                    <li><%= link_to 'Εξυπηρέτηση μετόχων', page_path('shareholders') %></li>
                    <li><%= link_to 'Εταιρική διακυβέρνηση', page_path('govern') %></li>
                </ul>
            </li>
            <li><%= link_to 'Προϊόντα', page_group_path('products') %>
                <ul>
                    <li><%= link_to 'Pellets άλγης', page_path('pellets') %></li>
                    <li><%= link_to 'Βιοέλαιο άλγης', page_path('oil') %></li>
                    <li><%= link_to 'Briquettes άλγης', page_path('briquettes') %></li>
                    <li><%= link_to 'Πιστοποιήσεις', page_path('certifications') %>
                        <ul>
                            <li><%= link_to 'ENplus', page_path('en_plus') %></li>
                            <li><%= link_to 'ISCC', page_path('iscc') %></li>
                            <li><%= link_to 'ISO 9000', page_path('iso_9000') %></li>
                            <li><%= link_to 'ISO 14000', page_path('14000') %></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><%= link_to 'Ευκαιρίες καριέρας', page_path('careers') %></li>
            <li><%= link_to 'Χρήσιμοι σύνδεσμοι', page_path('links') %></li>
            <li><%= link_to 'Επικοινωνία', page_path('contact') %></li>
            <li><%= link_to 'Sitemap', sitemap_path %></li>
            <li><%= link_to 'Όροι χρήσης', page_path('terms') %></li>
        </ul>
    </div>
</div>
