<div class="body-container">
    <div class="main-slide"
         style="background-image: url(<%= image_url 'vials.png' %>); width: 66%; margin-right: 1%;">
        <a href="">
            <span class="table-cell">Sitemap</span>
        </a>
    </div>

    <div class="content" style="display: block">
        <h1>Sitemap</h1>

        <ul>
            <li>
                <%= link_to 'Η εταιρία', company_path %>
                <ul>
                    <li><%= link_to 'Καλώς ήρθατε στην Algae farms', company_welcome_path %></li>
                    <li><%= link_to 'Το όραμα μας', company_vision_path %></li>
                    <li><%= link_to 'Οι εγκαταστάσεις', company_facilities_path %></li>
                </ul>
            </li>
            <li><%= link_to 'Πληροφοριακό ένταξης', '/pdf/placeholder.pdf' %></li>
            <li><%= link_to 'Ενημέρωση επενδυτών', '/pdf/placeholder.pdf' %></li>
            <li><%= link_to 'Προϊόντα', products_path %>
                <ul>
                    <li><%= link_to 'Pellets άλγης', products_pellets_path %></li>
                    <li><%= link_to 'Βιοέλαιο άλγης', products_oil_path %></li>
                    <li><%= link_to 'Briquettes άλγης', products_briquettes_path %></li>
                    <li><%= link_to 'Πιστοποιήσεις', '/pdf/placeholder.pdf' %></li>
                </ul>
            </li>
            <li><%= link_to 'Ευκαιρίες καριέρας', careers_path %></li>
            <li><%= link_to 'Επικοινωνία', contact_path %></li>
            <li><%= link_to 'Sitemap', sitemap_path %></li>
            <li><%= link_to 'Όροι χρήσης', terms_path %></li>
        </ul>
    </div>
</div>
