<div class="body-container">
    <div class="main-slide"
         style="background-image: url(<%= image_url 'certifications.jpg' %>); width: 66%; margin-right: 1%;">
        <%= link_to products_path do %>
            <span class="table-cell">Πιστοποιήσεις</span>
        <% end %>
    </div>

    <div class="content">
        <h1>Πιστοποιήσεις</h1>

        <p>
            Η επιλογή του κατάλληλου προϊόντος θέρμανσης μέσα από μία ευρεία ποικιλία φαινομενικά παρόμοιων αγαθών, αποτελεί σήμερα μια εξαιρετικά σημαντικά πρόκληση για τον τελικό καταναλωτή.
        </p>
        <p>
            Εκτός από την τιμή, η οποία παίζει αποφασιστικό ρόλο, ο καταναλωτής καλείται να εκτιμήσει την σταθερή ποιότητα του προϊόντος, τις επιπτώσεις από την χρήση του στην παραγωγή μη ανακυκλώσιμων αποβλήτων, την περιβαλλοντική επιβάρυνση που προκαλεί, αλλά ακόμα και να κρίνει την  οικολογική συμπεριφορά του παραγωγού και τη συμμόρφωσή του με τις νομοθετικές ρυθμίσεις και τα διεθνή πρότυπα.
        </p>
        <p>
            Από την άλλη μεριά, οι εταιρείες καλούνται σήμερα να ανταποκριθούν με υπευθυνότητα στη ραγδαία υποβάθμιση του περιβάλλοντος που παρατηρείται τα τελευταία χρόνια και η οποία αποτελεί το μεγαλύτερο πρόβλημα που αντιμετωπίζει σήμερα η διεθνής κοινότητα.
        </p>
        <p>
            Η πιστοποίηση των εταιρειών  σύμφωνα με τα διεθνή πρότυπα αποτελεί την σημαντικότερη απάντηση σε αυτές τις προκλήσεις καθώς εξασφαλίζει:
        </p>
        <ul>
            <li>Σταθερά υψηλή ποιότητα παραγόμενων προϊόντων.</li>
            <li>Μείωση της περιβαλλοντικής επιβάρυνσης.</li>
            <li>Εξοικονόμηση φυσικών πόρων.</li>
            <li>Ευαισθητοποίηση των προσωπικού σε θέματα διαχείρισης του περιβάλλοντος.</li>
            <li>Συμμόρφωση με την κείμενη νομοθεσία.</li>
            <li>Την αειφόρο ανάπτυξη του οργανισμού.</li>
        </ul>
        <p>
            Η εταιρεία Algae Farms, κύρια δραστηριότητα της οποίας είναι η παραγωγή εναλλακτικών καυσίμων, θεωρεί υποχρέωσή της την συμβολή στην βελτίωση της διαχείρισης του περιβάλλοντος. Έτσι, έχει ξεκινήσει τη διαδικασία πιστοποίησης σύμφωνα με τέσσερα Διεθνή Πρότυπα:
        </p>
        <ul>
            <li>
                <%= link_to 'ENplus', products_certifications_en_plus_path %>
            </li>
            <li>
                <%= link_to 'ISCC', products_certifications_iscc_path %>
            </li>
            <li>
                <%= link_to 'ISO 9000', products_certifications_iso_9000_path %>
            </li>
            <li>
                <%= link_to 'ISO 14000', products_certifications_iso_14000_path %>
            </li>
        </ul>
    </div>
</div>
