<h1>Listing images</h1>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Position for small</th>
      <th>Position for very small</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @images.each do |image| %>
      <tr>
        <td><%= image.id %></td>
        <td><%= image.title %></td>
        <td><%= image.position_for_small %></td>
        <td><%= image.position_for_very_small %></td>
        <td><%= link_to 'Show', [:admin, image], class: 'btn btn-info' %></td>
        <td><%= link_to 'Edit', edit_admin_image_path(image), class: 'btn btn-warning' %></td>
        <td><%= link_to 'Destroy', [:admin, image], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Image', new_admin_image_path, class: 'btn btn-primary' %>
