<h1>Listing statics</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Action</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @statics.each do |static| %>
      <tr>
        <td><%= static.title %></td>
        <td><%= static.action %></td>
        <td><%= link_to 'Show', [:admin, static], class: 'btn btn-info' %></td>
        <td><%= link_to 'Edit', [:edit, :admin, static], class: 'btn btn-warning' %></td>
        <td><%= link_to 'Destroy', [:admin, static], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Static', [:new, :admin, :static], class: 'btn btn-primary' %>
