<!DOCTYPE html>
<html>
<head>
    <title>Algae farms</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Open+Sans:400,300&subset=latin,greek-ext" %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
    <nav class="menu">
        <div class="logo">
            <%= link_to image_tag('logo.png', width: 140, height: 60), root_path %>
        </div>

        <%= link_to 'Η εταιρία', company_path %>
        <%= link_to 'Πληροφοριακό ένταξης', '/pdf/placeholder.pdf' %>
        <%= link_to 'Ενημέρωση επενδυτών', '/pdf/placeholder.pdf' %>
        <%= link_to 'Προϊόντα', products_path %>
        <%= link_to 'Ευκαιρίες καριέρας', careers_path %>
        <%= link_to 'Επικοινωνία', contact_path %>
    </nav>

    <div class="clear"></div>

    <%= yield %>

    <div class="clear"></div>

    <nav class="menu-bottom">
        <%= link_to 'Επικοινωνία', contact_path %>
        /
        <%= link_to 'Sitemap', sitemap_path %>
        /
        <%= link_to 'Όροι χρήσης', terms_path %>
    </nav>


    <div class="copyright">
        Copyright &copy; 2013, ALGAE FARMS, All rights reserved.
    </div>
</div>
</body>
</html>
