<!DOCTYPE html>
<html>
<head>
    <%= render 'common/analytics' %>

    <title>Algae Farms<%= " - #{@page_title}" if @page_title.present? %></title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.0/jquery.cookie.min.js' %>
    <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
    <nav class="menu">
        <div class="logo">
            <%= link_to image_tag('logo.png', width: 140, height: 60), Static.where(action: 'home').first.url %>
        </div>

        <ul>
            <% @top_menu = Menu.where(title: 'Top').first %>
            <% @top_menu.linkables_menus.zip(@top_menu.linkables_menus[1, @top_menu.linkables_menus.size]).each do |current_item, next_item| %>
                <% more_depth = next_item.present? && next_item.depth > current_item.depth %>
                <% less_depth = next_item.present? && next_item.depth < current_item.depth %>
                <li class="<%= 'last' if less_depth %>">
                    <%= link_to current_item.linkable.title, current_item.linkable.url, current_item.linkable.link_options %>
                    <%= '<nav><ul>'.html_safe if more_depth %>
                    <%= '</ul></nav>'.html_safe if less_depth %>
                </li>
            <% end %>
        </ul>
    </nav>

    <div class="clear"></div>

    <div class="cookies" id="cookies" style="display: none;">
        Για να επιτύχουμε την καλύτερη δυνατή εμπειρία χρήσης αυτού του ιστότοπου, κάνουμε χρήση Cookies. Συνέχεια της χρήσης του ιστότοπου ισοδυναμεί με αυτόματη αποδοχή των Cookies.
        <br />
        <input type="button" value="Εντάξει" id="cookies-ok">
    </div>

    <%= yield %>

    <div class="clear"></div>

    <nav class="menu-bottom">
        <% @bottom_menu = Menu.where(title: 'Bottom').first %>
        <% @bottom_menu.linkables_menus.each_with_index do |current_item, index| %>
            <%= link_to current_item.linkable.title, current_item.linkable.url, current_item.linkable.link_options %>
            <%= '/' unless @bottom_menu.linkables_menus.size - 1 == index %>
        <% end %>
    </nav>

    <div class="copyright">
        Copyright &copy; <%= Time.zone.now.year %>, ALGAE FARMS, All rights reserved.
    </div>
</div>
</body>
</html>
