<!DOCTYPE html>
<html>
<head>
    <%= render 'common/analytics' %>

    <title>Algae Farms<%= " - #{@page_title}" if @page_title.present? %></title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.0/jquery.cookie.min.js' %>
    <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
    <nav class="menu">
        <div class="logo">
            <%= link_to image_tag('logo.png', width: 140, height: 60), root_path %>
        </div>

        <ul>
            <li><%= link_to 'Αρχική', root_path %></li>
            <li>
                <%= link_to 'Η εταιρεία', page_group_path('company') %>
                <nav>
                    <ul>
                        <li><%= link_to 'Καλώς ήρθατε στην Algae Farms', page_path('welcome') %></li>
                        <li><%= link_to 'Το όραμα μας', page_path('vision') %></li>
                        <li class="last"><%= link_to 'Οι εγκαταστάσεις', page_path('facilities') %></li>
                    </ul>
                </nav>
            </li>
            <li><%= link_to 'Πληροφοριακό ένταξης', '/pdf/placeholder.pdf' %></li>
            <li><%= link_to 'Ενημέρωση επενδυτών', page_path('invest') %></li>
            <li>
                <%= link_to 'Προϊόντα', page_group_path('products') %>
                <nav>
                    <ul>
                        <li><%= link_to 'Pellets άλγης', page_path('pellets') %></li>
                        <li><%= link_to 'Βιοέλαιο άλγης', page_path('oil') %></li>
                        <li><%= link_to 'Briquettes άλγης', page_path('briquettes') %></li>
                        <li class="last"><%= link_to 'Πιστοποιήσεις', page_path('certifications') %></li>
                    </ul>
                </nav>
            </li>
            <li><%= link_to 'Ευκαιρίες καριέρας', page_path('careers') %></li>
            <li><%= link_to 'Χρήσιμοι σύνδεσμοι', page_path('links') %></li>
        </ul>
    </nav>

    <div class="clear"></div>

    <div class="cookies" id="cookies" style="display: none;">
        Για να επιτύχουμε την καλύτερη δυνατή εμπειρία χρήσης αυτού του ιστότοπου, κάνουμε χρήση Cookies. Συνέχεια της χρήσης του ιστότοπου ισοδυναμεί με αυτόματη αποδοχή των Cookies.
        <br />
        <input type="button" value="Εντάξει" id="cookies-ok">
    </div>

    <%= yield %>

    <div class="clear"></div>

    <nav class="menu-bottom">
        <%= link_to 'Επικοινωνία', page_path('contact') %>
        /
        <%= link_to 'Sitemap', sitemap_path %>
        /
        <%= link_to 'Όροι χρήσης', page_path('terms') %>
    </nav>

    <div class="copyright">
        Copyright &copy; <%= Time.zone.now.year %>, ALGAE FARMS, All rights reserved.
    </div>
</div>
</body>
</html>
