<!DOCTYPE html>
<html>
<head>
    <title>Algae Farms</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.0/jquery.cookie.min.js" %>
    <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
    <nav class="menu">
        <div class="logo">
            <%= link_to image_tag('logo.png', width: 140, height: 60), root_path %>
        </div>

        <ul>
            <li><%= link_to 'Αρχική', root_path %></li>
            <li>
                <%= link_to 'Η εταιρεία', company_path %>
                <nav>
                    <ul>
                        <li><%= link_to 'Καλώς ήρθατε στην Algae Farms', company_welcome_path %></li>
                        <li><%= link_to 'Το όραμα μας', company_vision_path %></li>
                        <li class="last"><%= link_to 'Οι εγκαταστάσεις', company_facilities_path %></li>
                    </ul>
                </nav>
            </li>
            <li><%= link_to 'Πληροφοριακό ένταξης', '/pdf/placeholder.pdf' %></li>
            <li><%= link_to 'Ενημέρωση επενδυτών', invest_path %></li>
            <li>
                <%= link_to 'Προϊόντα', products_path %>
                <nav>
                    <ul>
                        <li><%= link_to 'Pellets άλγης', products_pellets_path %></li>
                        <li><%= link_to 'Βιοέλαιο άλγης', products_oil_path %></li>
                        <li><%= link_to 'Briquettes άλγης', products_briquettes_path %></li>
                        <li class="last"><%= link_to 'Πιστοποιήσεις', products_certifications_path %></li>
                    </ul>
                </nav>
            </li>
            <li><%= link_to 'Ευκαιρίες καριέρας', careers_path %></li>
            <li><%= link_to 'Χρήσιμοι σύνδεσμοι', links_path %></li>
        </ul>
    </nav>

    <div class="clear"></div>

    <div class="cookies" id="cookies" style="display: none;">
        Για να επιτύχουμε την καλύτερη δυνατή εμπειρία χρήσης αυτού του ιστότοπου, κάνουμε χρήση Cookies. Συνέχεια της χρήσης του ιστότοπου ισοδυναμεί με αυτόματη αποδοχή των Cookies.
        <br />
        <input type="button" value="Εντάξει" id="cookies-ok">
    </div>

    <%= yield %>

    <div class="clear"></div>

    <nav class="menu-bottom">
        <%= link_to 'Επικοινωνία', contact_path %>
        /
        <%= link_to 'Sitemap', sitemap_path %>
        /
        <%= link_to 'Όροι χρήσης', terms_path %>
    </nav>

    <div class="copyright">
        Copyright &copy; 2013, ALGAE FARMS, All rights reserved.
    </div>
</div>
</body>
</html>
